<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.artemis_camera_kit">
    <uses-permission android:name="android.permission.CAMERA" />
    <meta-data
        android:name="com.google.firebase.ml.vision.DEPENDENCIES"
        android:value="barcode" />
    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="ocr" />
</manifest>
